
        button {
            position: relative;
            padding: 20px 40px;
            border: none;
            color: black;
            background-color: rgb(140, 224, 255);
            cursor: pointer;

            animation: mover 5s infinite;
        }

        @keyframes mover {
            0% {
                left: 0px;
                background-color: rgb(140, 224, 255);
            }

            50% {
                left: 200px;
                background-color: rgb(249, 127, 184)
            }

            100% {
                left: 0px;
                background-color: rgb(140, 224, 255);
            }
        }
    


